<div class="col-md-6">

    <div class="card card-primary" >
        <div class="card-header">
            <h3 class="card-title">Registro Cliente</h3>
        </div>
        
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="codigoEmpresa">Codigo Empresa</label>
                    <input class="form-control" type="text" id="codigoEmpresa" placeholder="Codigo">
                </div>
                <div class="form-group">
                    <label for="descripcionEmpresa">Descripcion Empresa</label>
                    <input class="form-control" type="text" id="descripcionEmpresa" placeholder="Descripcion">
                </div>
                <div class="form-group">
                    <label for="rucEmpresa">Ruc Empresa</label>
                    <input class="form-control" type="text" id="rucEmpresa" placeholder="Ruc">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="statusEmpresa" checked="True">
                    <label class="form-check-label" for="statusEmpresa" >Activo</label>
                </div>    
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="igvEmpresa" checked="True">
                    <label class="form-check-label" for="igvEmpresa" >Exonerado Igv</label>
                </div>   
                
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="agentePercepcion" checked="True">
                    <label class="form-check-label" for="agentePercepcion" >Agente Percepcion</label>
                </div>    
    
                <div class="row">
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="% Percepcion">
                    </div>
                    
                </div>
    
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="agenteRentencion" checked="True">
                    <label class="form-check-label" for="agenteRentencion" >Agente Rentencion</label>
                </div>
            </div>
            
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
    
    </div>
    